{% load static %}
  <link href="{% static 'jobseekerstatic/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="{% static 'jobseekerstatic/css/style.css' %}" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="{% static 'jobseekerstatic/css/font-awesome.css' %}" rel="stylesheet"><!-- fontawesome css -->
	<!-- //css files -->
	
	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">
	<!-- //google fonts -->
	
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'jobapp:jobseekerhome' %}">CurrentJob<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="#">Top Jobs</a>
      <!-- <a class="nav-item nav-link active" href="#"></a> -->
      {% if request.user.is_authenticated and request.user.groups.first.name == "employer" %}
       <h5>logged in as:{{request.user}}</h5>
       <h5><a href="{% url 'jobapp:employerprofile' %}">myprofile</a></h5>
       
       <h5><a href="{% url 'jobapp:employerjobcreate' %}">Post new job</a></h5>
       
      {% else %}
        <a href="{% url 'jobapp:login' %}">login</a>
        <a class="nav-item nav-link active" href="{% url 'jobapp:employerregistration' %}">Register</a>
      {% endif %}  



    </div>
  </div>
</nav>
{% block content %}
{% endblock %}