{% extends 'employertemplates/employerbase.html' %}
[% load static %}
{% block content %}
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
	<button class="btn btn-info">create</button>
	

	

</form>
{% endblock %}