{% extends 'employertemplates/employerbase.html' %}
[% load static %}
{% block content %}
<br>
<h4>Employer_name:{{employers.name}}</h4>
<h4>phone:{{employers.mobile}}</h4>
<h4>Email:{{employers.email}}</h4>
<h4>Websites:{{employers.website}}</h4>


<h3>job posted by:{{employers.company}}</h3>
<hr>

<table class="table">
	<thead>
		<tr>
			<th>S.N</th>
			<th>Job_title</th>
			<th>Deadline</th>
			<th>Posted on</th>
			


		</tr>
		
	</thead>
	<tbody>
			{% for job in employers.job_set.all %}
		 		<tr>
		 			<td>{{forloop.counter}}</td>
		 			<td><a href="{% url 'jobapp:employerjobdetail' job.id %}">{{job.title}}({{job.jobapplication_set.count}} applications)</a></td>
		 			<td>{{job.deadline}}</td>
		 			<td>{{job.created_at}}</td>

		 		</tr>
	 		{% endfor %}
 	
 		

 	</tbody>
	
	

</table>
{% endblock %}