{% extends 'employertemplates/employerbase.html' %}
{% load static %}
{% block content %}
<h2>Employer Registration</h2>
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
	<button class="btn btn-info">register</button>
	

</form>
{% endblock %}