{% extends 'employertemplates/employerbase.html' %}
{% load static %}
{% block content %}
	<h3>Job_title : {{jobobject.title}}</h3>
	<h4>Job_category : {{jobobject.category}}</h4>
	<p><img src="{{jobobject.image.url}}" width="200px;"></p>
	<li>salary : {{jobobject.salary}}</li>
	<li>skills : {{jobobject.skills}}</li>
	<li>education : {{jobobject.education}}</li>
	<li>details: {{jobobject.details}}</li>
	<li>level:{{jobobject.level}}</li>
	<hr>
	<h3>Application for this job</h3>
	<table class="table">
		<thead>
			<tr>
				<th>S.N</th>
				<th>applicants</th>
				<th>applied on</th>
				<th>download cv</th>
			</tr>
		</thead>
		<tbody>
			{% for application in jobobject.jobapplication_set.all %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td>{{application.jobseeker}}</td>
				<td>{{application.created_at}}</td>
				<td>
					<a href="{{application.jobseeker.cv.url}}" download>Download CV</a>
					<a href="{{application.cover_letter.url}}" download>Download Coverletter</a>

				</td>
				


			</tr>
			{% endfor %}
			

		</tbody>
		



	</table>

{% endblock %}