/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

html,
body {
	margin: 0;
	font-size: 100%;
	background: #fff;
	font-family: 'Work Sans', sans-serif;
}

body a {
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

a:hover {
	text-decoration: none;
}

input[type="button"],
input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
}

p {
	margin: 0;
	letter-spacing: 1px;
	font-size: 0.9em;
}

ul {
	margin: 0;
	padding: 0;
}

label {
	margin: 0;
}


/*-- header --*/

.w3l_header_left{
	float:left;
	margin: .3em 0 0;
}
.w3l_header_left ul li{
	display:inline-block;
	margin-right:2em;
	font-size:14px;
	color: #FFF;
}
.w3l_header_left ul li i {
    padding-right:0.2em;
    color: #FFF;
}
.w3l_header_left ul li a{
	color:#FFF;
	text-decoration:none;
}
.w3l_header_left ul li a:hover{
	color:#00a98f;
}
.w3l_header_right{
	float: right;
}
/*-- social-icons --*/
/*--top header start here--*/
.w3ls-social-icons.text-left a {
    display: inline-block;
}
.w3ls-social-icons i {
    font-size: 15px;
    background: #333;
    padding: 8px 10px;
    color: #fff;
    border: 1px solid #333;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.w3ls-social-icons i:hover {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.top-header-main {
    padding: 1em 0em;
}
.header-address h6 {
    font-size:0.9em;
    color: #fff;
    display: inline-block;
}
.logo h1 {
    font-size:2.5em;
}
.agileits_w3layouts_banner_nav {
    margin: 0 auto;
    width: 100%;
    background: #333;
    padding: 0 2em;
}
.agileits_top_menu {
    background: #ff4f81;
    padding: 0.5em 1em;
}
/*-- //social-icons --*/
.header-1 {
    background: url(../images/banner1.jpg) 0px 0px no-repeat;
    background-size: cover;
    min-height: 380px;
}
/*--header--*/

.content {
	margin: 0;
	padding: 0px;
}

.content p:last-child {
	margin: 0;
}

.content a.button {
	display: inline-block;
	padding: 10px 20px;
	background: #ff0;
	color: #000;
	text-decoration: none;
}

.content a.button:hover {
	background: #000;
	color: #ff0;
}

.content.title {
	position: relative;
	background: #333;
}

.navbar-nav {
	float: right;
	margin: 0;
}

.content.title h1 span.demo {
	display: inline-block;
	font-size: .5em;
	padding: 10px;
	background: #fff;
	color: #333;
	vertical-align: top;
}

.content.title .back-to-article {
	position: absolute;
	bottom: -20px;
	left: 20px;
}

.content.title .back-to-article a {
	padding: 10px 20px;
	background: #23B684;
	color: #fff;
	text-decoration: none;
}

.content.title .back-to-article a:hover {
	background: #23B684;
}

.content.title .back-to-article a i {
	margin-left: 5px;
}

.content.white {
	background: #fff;
	padding: 1em 0;
}

.content.black {
	background: #000;
}

.content.black p {
	color: #999;
}

.content.black p a {
	color: #08c;
}

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0!important;
	border: 1px solid transparent;
}

.navbar-default {
	background-color: #fff;
	border-color: #fff;
}

.navbar-brand {
	float: left;
	padding: 0!important;
	font-size: 18px;
	line-height: 0px!important;
	height: 0px!important;
	text-transform: uppercase;
}

.navbar-default a.navbar-brand h1 {
	color: #282828;
	font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
	color: #282828;
	font-size: 0.9em;
	letter-spacing: 1px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 14px 8px;
}

.navbar-nav>li>a {
	padding-top: 18px;
	padding-bottom: 15px;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a.active {
	color: #ff4f81;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: rgba(35, 182, 132, 0);
    color: #ff4f81;
}
.navbar-default .navbar-brand label {
	color: #ff4f81;
	display: block;
	font-size: 0.3em;
	text-align: center;
	letter-spacing: 3px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #202020;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ff4f81;
}

.navbar-default .navbar-nav>.active>a:before {
	background: #ff4f81;
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);
}

.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 0;
	padding: 9px 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: #282828;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0;
}

.effect-3 {
	overflow: hidden;
}

.effect-3:before {
	left: -1px;
	bottom: 0;
	width: 100%;
	height: 2px;
	background:#ff4f81;
	content: '';
	position: absolute;
	transition: transform .5s ease;
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
}

.effect-3:hover:before {
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #ff4f81;
	background: none;
}

.navbar-nav>li {
	float: left;
	margin: 0 15px;
}

.navbar-default .navbar-toggle {
	border-color: #202020;
}

.dropdown-menu .divider {
	height: 0;
	margin: 0;
	overflow: none;
	background: none;
}

.dropdown-menu .divider {
	border-bottom: 1px solid #E8E7EC;
	padding: 3px 0;
}

.main-content {
	padding: 3em 0;
}
.dropdown-menu {
    min-width: 124px;
    text-align: center;
    background: rgba(0, 0, 0, 0.65);
}
.dropdown-menu.columns-2 {
	min-width: 400px;
}

.dropdown-menu.columns-3 {
	min-width: 600px;
}

.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
	color:#fff
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #ff4f81;
    text-decoration: none;
    background-color: rgba(245, 245, 245, 0);
}
.multi-column-dropdown {
	list-style: none;
}

.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
}

.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #23B684;
	background: none;
}

@media (max-width:767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
	.navbar-nav {
		float: left;
		margin: 0;
		margin-left: 0em;
		width: 100%;
		background: #eee;
		margin-top: 1em;
	}
}


/*-- banner --*/
/*
.carousel .item {
	background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner1.jpg) no-repeat;
	background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner1.jpg) no-repeat;
	background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner1.jpg) no-repeat;
	background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner1.jpg) no-repeat;
	background-size: cover;
}

.carousel .item.item2 {
	background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner2.jpg) no-repeat;
	background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner2.jpg) no-repeat;
	background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner2.jpg) no-repeat;
	background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner2.jpg) no-repeat;
	background-size: cover;
}

.carousel .item.item3 {
	background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner3.jpg) no-repeat;
	background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner3.jpg) no-repeat;
	background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner3.jpg) no-repeat;
	background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner3.jpg) no-repeat;
	background-size: cover;
}
*/
.carousel .item.item4 {
	background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner4.jpg) no-repeat;
	background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner4.jpg) no-repeat;
	background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner4.jpg) no-repeat;
	background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner4.jpg) no-repeat;
	background-size: cover;
}

.carousel .item.item5 {
	background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner5.jpg) no-repeat;
	background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner5.jpg) no-repeat;
	background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner5.jpg) no-repeat;
	background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner5.jpg) no-repeat;
	background-size: cover;
}

.carousel-caption h2,
.carousel-caption h3 {
	font-size: 3.3em;
	font-weight: 300;
	letter-spacing: 1px;
}

.carousel-caption h2 span,
.carousel-caption h3 span {
	font-weight: 600;
}

.carousel-caption p {
    letter-spacing: 4px;
    font-size: 1em;
    line-height: 1.8em;
    font-weight: 300;
    color: #fff;
    margin: 1em auto 2em;
    width: 70%;
}
.carousel-caption a {
	color: #fff;
	letter-spacing: 1px;
	padding: 11px 20px;
	background: none;
	font-size: 0.9em;
	border-radius: 0;
	border: 1px solid #fff;
}

.carousel-caption a:hover {
    background: #ff4f81;
    border: 1px solid #ff4f81;
}

.codes {
	padding: 5em 0;
	background: #fff;
}

.codes.agileitsbg2 {
	background: #E74C3C;
	background-image: -webkit-linear-gradient(#ff9d2f, #ff6126);
	background-image: -moz-linear-gradient(#ff9d2f, #ff6126);
	background-image: -ms-linear-gradient(#ff9d2f, #ff6126);
	background-image: linear-gradient(#ff9d2f, #ff6126);
	padding-bottom: 10em;
}

.codes.agileitsbg3 {
	background: #3498DB;
	padding-bottom: 10em;
}

.codes.agileitsbg4 {
	background: #2ECC71;
	padding-bottom: 10em;
}

.carousel.slide.grid_3.grid_4 {
	border-top: 10px solid #3ACFD5;
	border-bottom: 10px solid #3a4ed5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-position: 0 0, 100% 0;
	background-repeat: no-repeat;
	-webkit-background-size: 10px 100%;
	-moz-background-size: 10px 100%;
	background-size: 10px 100%;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dÃ¢â‚¬Â¦0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dÃ¢â‚¬Â¦0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
	background-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
	background-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
	background-image: -o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
	background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%), linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
}
.carousel-indicators {
	bottom: 20%;
	left: 50%;
}

.carousel-caption {
	position: inherit;
	min-height: 700px!important;
	padding-top: 15em;
	text-align: center;
}
.carousel-control {
	line-height: 33em;
}
/*-- //banner --*/
/*-- /testimonials_section--*/
.testimonials_section {
	padding: 6em 0 8em 0;
}
.carousel.slide.two .item {
	background: none!important;
}
.testimonials_grid_wthree h4 {
	font-size: 1.1em;
	color: #6b6a6a;
	line-height: 2.2em;
	margin: 1em auto;
	padding-left: 2.5em;
	position: relative;
	width: 73%;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}
.testimonials_grid_wthree h5 {
	font-weight: 600;
	color: #141415;
	font-size: 1.4em;
}
.testimonials_grid_wthree i.fa.fa-quote-left {
	color: #fcb314;
	font-size: 2em;
}
.testimonials_grid_wthree {
	text-align: center;
}
.carousel-indicators.second {
	bottom: -27%;
	left: 50%;
}
.carousel-indicators.second .active {
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: #0f0f10;
}
.carousel-indicators.second li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #777;
	border-radius: 10px;
}
.testimonials_grid_wthree img {
	margin: 0 auto;
	text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}
/*-- //testimonials_section--*/
/*-- /inner_page --*/
.inner_page_agile {
	text-align: center;
	background: url(../images/candidate.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	min-height: 255px;
	padding-top: 6em;
}
.inner_page_agile h3 {
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.5em;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
	letter-spacing: 1px;
}

.inner_page_agile p {
	color: #f1f1f1;
	letter-spacing: 6px;
	font-size: 0.9em;
	margin-top: 10px;
}

.services-breadcrumb_w3layouts {
	width: 100%;
	border: none;
	padding: 1em 0;
	background: #eee;
}

.services-breadcrumb_w3layouts ul li span {
	padding: 0 1.5em;
}

ul.short_w3ls {
	text-align: left;
}

ul.short_w3ls li {
	list-style: none;
	display: inline-block;
}

.inner_breadcrumb {
	width: 80%;
	margin: 0 auto;
}

ul.short_w3ls li a {
	color: #ff4f81;
	text-decoration: none;
}
/* about */
.heading-agileinfo {
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 40px;
    margin-bottom: 1.9em;
    text-align: center;
    color: #ff4f81;
    text-transform: uppercase;
    position: relative;
    margin-top: 0;
}
.heading-agileinfo span {
    display: block;
    font-size: 17px!important;
    margin-top: 1em;
    letter-spacing: 4px;
    text-transform: capitalize;
    color: #000000;
    font-weight: 500;
}
.heading-agileinfo span:after {
    content: '';
    background: #212121;
    height: 2px;
    width: 70px;
    position: absolute;
    top: 132%;
    right: 47%;
}
a.wthree-.about-link {
    color: #fff;
    border: 1px solid #03afdd;
    background: #03afdd;
    border-radius: 0;
    padding: 0.5em 2.5em;
    outline: none;
    font-size: 1em;
    margin: 4% auto 0;
    font-weight: 600;
    letter-spacing: 4px;
    display: inline-block;
    text-transform: uppercase;
}

.agileits-about-grid p {
    width: 80%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.8em;
    color: #999;
}
.agileits-about-grid1 {
    border: 1px solid #000;
}

.agileits-about-grid2 {
   border: 1px solid #000;
   border-left:none;
   border-right:none;
}

.agileits-about-grid3 {
    border: 1px solid #000;
}
.agile-about{
	padding:5em 0 0;
}

/* //about */


/* about-bottom */
.agileits-about-btm {
    padding: 5em 0;
}

.ab1 {
    padding: 2em;
}
.ab1 span {
    color: #000;
    font-size: 2em;
}


h4.agileinfo-head {
    color: #ff4f81;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0.7em 0;
    font-size: 1.8em;
}

.ab1 h5 {
    color: #000;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    margin: 1em 0 0.2em;
}
.ab1 p {
    color: #999;
    font-size: 15px;
    line-height: 1.8em;
    margin: 10px 0 0;
}


/* //about-bottom */

/*-- stats --*/

.w3layouts_stats_left {
    text-align: center;
}

.w3layouts_stats_left p {
    font-size: 3em;
    font-weight: 100;
    letter-spacing: 2px;
    color: #ffffff;
    margin: 0.1em 0 0.1em 0;
}
.w3layouts_stats_left h3 {
    font-size: 1.3em;
    color: #ff4f81;
    letter-spacing: 3px;
    margin: 30px 0 20px;
    font-weight: 600;
}

.w3layouts_stats_left span {
    font-size: 2.5em;
    color: #fff;
}

.w3l_stats_bottom_grid_left img {
    margin: 0 auto;
}

.stats {
    text-align: center;
   background: url(../images/banner2.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    padding: 5em 0;
}

.agile_inner_info_stats {
    margin-top: 2em;
}

span.ttt {
    color: #fff;
}
/*-- //stats --*/
/*-- feedback --*/ 
.feedback {
  background: url(../images/banner3.jpg) no-repeat center fixed;
  background-size: cover;
  padding:5em 0;
}
.agileits-feedback-grids {
  background: rgba(0, 0, 0, 0.47);
  padding: 1em;
  -webkit-box-shadow: 0px 1px 7px #8e8e8e;
  -moz-box-shadow: 0px 1px 7px #8e8e8e;
  box-shadow: 0px 1px 7px #8e8e8e;
}
.feedback-top {
    padding: 1em 1.5em;
    background: rgba(0, 0, 0, 0.47);
    position: relative;
    border-radius: 5px;
}
.feedback-top p{
  color:#fff;
}
.feedback-top:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 27%;
  width: 0;
  height: 0;
  border-top: 9px solid rgba(0, 0, 0, 0.47);
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}
.feedback-img{
    float: left;
    width: 28%;
}
.feedback-grids {
    margin: 2em auto 0;
    width: 55%;
}
.feedback-img img{
	width:100%;
}
.feedback-info {
    margin: 1em !important;
}
.feedback-img-info{
    float: left;
    width: 65%;
    margin-left: .5em;
}
.feedback-img-info h5 {
    color: #fff;
    font-size: 1.1em;
    margin: 0;
    font-weight: 600;
}
.feedback-img-info p {
    color: #ff4f81;
    font-size: .9em;
    margin: 0.5em 0 0;
}
/*-- //feedback --*/
/* services */
.heading h3 {
    font-size: 45px;
	text-align:center;
    text-transform: uppercase;
    color: #000;
}
.heading p {
    text-align: center;
    color: #000;
    line-height: 26px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.grid1 {
    text-align: center;
    background: #e0e0e0;
    background: #ffc107;
	background:#fff;
    padding: 25px 40px;
    -webkit-box-shadow: 0 0 40px #aaa;
    -moz-box-shadow: 0 0 40px #aaa;
    box-shadow: 0 0 40px #aaa;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
	-webkit-box-shadow:0px 1px 8px 0px rgba(158, 158, 158, 0.75);
	-moz-box-shadow:0px 1px 8px 0px rgba(158, 158, 158, 0.75);
	box-shadow:0px 1px 8px 0px rgba(158, 158, 158, 0.75);
}
.grid1:hover {
    background: #12ccc3;
}
.grid1 h4 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 25px 0 20px;
    color: #212121;
}
.grid1 p {
    font-size: 14px;
    letter-spacing: .5px;
    color: #6b6b6b;
}
.services {
    padding: 5em 0;
}
.services .heading h3 ,.services .heading p{
    color: #fff;
}
.services-top-grids {
    margin-bottom: 30px;
}
.grid1 i.fa {
    font-size: 40px;
    color: #ff4f81;
}
/* //services */
/*-- news --*/ 
.news {
    padding: 5em 0;
}
.news-agileinfo {
    margin-top: 5em;
}
.wthree-news-grids {
    margin-top: 5em;
}
.datew3-agileits-info {
    padding-left: 2em;
} 
.datew3-agileits img.img-responsive {
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    overflow: hidden;
    border: solid #dedede;
}
.datew3-agileits-info h5 {
    margin: 0;
}
.datew3-agileits-info h5 a {
    color: #000;
    text-decoration: none;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 600;
	    letter-spacing: 1px;
}
.datew3-agileits-info h5 a:hover {
    color:#ff4f81 ;
}
.datew3-agileits-info h6 {
    font-size: 1em;
    color: #ff4f81;
    font-weight: 600;
    margin: 1em 0;
    letter-spacing: 1px;
}
.datew3-agileits-info p {
    margin: 1em 0 0;
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
}
.datew3-agileits.datew3-agileits-fltrt {
    float: right;
}
.news-right h4 {
    color: #000;
    font-size: 2em;
    margin: 0;
}
.news-right {
    padding-left: 4em;
}
.achievesw3-agile {
	background:#97f302;
    padding: 1em;
    display: inline-block;
    margin: 2em 0 0 0;
}
.achievesw3-agile ul{
	padding:0;
	margin:0;
}
.achievesw3-agile ul li {
    display: block;
    margin: 1.3em 1em;
}
.achievesw3-agile ul li a{
    font-size: 1em;
    color: #fff;
    transition: .5s all;
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
	-ms-transition: .5s all;
	-o-transition: .5s all;
    text-decoration: none;
}
.achievesw3-agile ul li a:hover{ 
	color:#000;
}
.achievesw3-agile ul li a i.fa {
    margin-right: 0.8em;
}
/*-- //news --*/
/*-- icons --*/
.grid_3.grid_4.w3_agileits_icons_page {
	margin: 0;
}
ul.bs-glyphicons-list li:hover {
	background: #000;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
}

ul.bs-glyphicons-list li:hover span {
	color: #fff;
}

.codes a {
	color: #555;
}

.row.fontawesome-icon-list {
	margin: 0;
}

.icon-box {
	padding: 8px 15px;
	background: rgba(149, 149, 149, 0.18);
	margin: 1em 0 1em 0;
	border: 5px solid #ffffff;
	text-align: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 13px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
	cursor: pointer;
}

.icon-box:hover {
	background: #000;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
}

.icon-box:hover i.fa {
	color: #fff !important;
}

.icon-box:hover a.agile-icon {
	color: #fff !important;
}

.codes .bs-glyphicons li {
	float: left;
	width: 12.5%;
	height: 115px;
	padding: 10px;
	line-height: 1.4;
	text-align: center;
	font-size: 12px;
	list-style-type: none;
}

.codes .bs-glyphicons .glyphicon {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 24px;
}

.codes .glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #777;
}

.codes .bs-glyphicons .glyphicon-class {
	display: block;
	text-align: center;
	word-wrap: break-word;
}

h3.icon-subheading {
    font-size: 25px;
    color: #ff4f81;
    margin: 30px 0 15px;
    font-weight: 600;
}

h3.agileits-icons-title {
	text-align: center;
	font-size: 35px;
	color: #000;
	font-weight: 300;
}

.icons a {
	color: #555;
}

.icon-box i {
	margin-right: 10px !important;
	font-size: 20px !important;
	color: #282a2b !important;
}

.bs-glyphicons li {
	float: left;
	width: 18%;
	height: 115px;
	padding: 10px;
	line-height: 1.4;
	text-align: center;
	font-size: 12px;
	list-style-type: none;
	background: rgba(149, 149, 149, 0.18);
	margin: 1%;
	cursor: pointer;
}

.bs-glyphicons .glyphicon {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 24px;
	color: #282a2b;
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #777;
}

.bs-glyphicons .glyphicon-class {
	display: block;
	text-align: center;
	word-wrap: break-word;
}

@media (max-width:1080px) {
	.icon-box {
		width: 33.33%;
	}
}

@media (max-width:991px) {
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
	.icon-box {
		width: 50%;
	}
}

@media (max-width:768px) {
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
	}
}

@media (max-width: 640px) {
	.icon-box {
		float: left;
		width: 50%;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
	.grid_3.grid_4.w3_agileits_icons_page {
		margin-top: 0;
	}
}

@media (max-width: 480px) {
	.bs-glyphicons li {
		width: 31%;
	}
	h3.agileits-icons-title {
		font-size: 25px;
	}
	h3.icon-subheading {
		font-size: 19px;
	}
}

@media (max-width: 414px) {
	h3.agileits-icons-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		font-size: 18px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}

@media (max-width: 384px) {
	.icon-box {
		float: none;
		width: 100%;
	}
}

@media (max-width: 375px) {
	.w3_agileits_icons_page {
		margin: 0 !important;
	}
}
/*-- //icons --*/
/*--Typography--*/
.well {
	font-weight: 300;
	font-size: 14px;
}

.list-group-item {
	font-weight: 300;
	font-size: 14px;
}

li.list-group-item1 {
	font-size: 14px;
	font-weight: 300;
}

.typo p {
	margin: 0;
	font-size: 14px;
	font-weight: 300;
}

.show-grid [class^=col-] {
	background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}

.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}

.grid_3 {
	margin-bottom: 2em;
}

.xs h3,
h3.m_1 {
	color: #000;
	font-size: 1.7em;
	font-weight: 300;
	margin-bottom: 1em;
}

.grid_3 p {
	color: #555;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}

.grid_4 {
	background: none;
	margin-top: 50px;
}

.label {
	font-weight: 300 !important;
	border-radius: 4px;
}

.grid_5 {
	background: none;
	padding: 2em 0;
}

.grid_5 h3,
.grid_5 h2,
.grid_5 h1,
.grid_5 h4,
.grid_5 h5,
h3.hdg,
h3.bars {
	margin-bottom: 1em;
	color: #ff4f81;
	font-weight: 600;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid rgba(241, 234, 239, 0.5);
}

.tab-content>.active {
	display: block;
	visibility: visible;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
	z-index: 0;
}

.badge-primary {
	background-color: #03a9f4;
}

.badge-success {
	background-color: #8bc34a;
}

.badge-warning {
	background-color: #ffc107;
}

.badge-danger {
	background-color: #e51c23;
}

.grid_3 p {
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}

.bs-docs-example {
	margin: 1em 0;
}

section#tables p {
	margin-top: 1em;
}

.tab-content>.active {
	display: block;
	visibility: visible;
}

.label {
	font-weight: 300 !important;
}

.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}

.alert {
	font-size: 0.85em;
}

h1.t-button,
h2.t-button,
h3.t-button,
h4.t-button,
h5.t-button {
	line-height: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

li.list-group-item1 {
	line-height: 2.5em;
}

.input-group {
	margin-bottom: 20px;
}

.in-gp-tl {
	padding: 0;
}

.in-gp-tb {
	padding-right: 0;
}

.list-group {
	margin-bottom: 48px;
}

ol {
	margin-bottom: 44px;
}

h2.typoh2 {
	margin: 0 0 10px;
}

@media (max-width:800px) {
	.grid_3.grid_5.w3ls,
	.grid_3.grid_5.w3l,
	.grid_3.grid_5.agileits,
	.grid_3.grid_5.agileinfo,
	.grid_3.grid_5.wthree {
		margin: 0;
	}
}

@media (max-width:768px) {
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
	.grid_3.grid_5.w3l {
		margin-top: 1.5em;
	}
}

@media (max-width:640px) {
	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3,
	.grid_5 h2,
	.grid_5 h1,
	.grid_5 h4,
	.grid_5 h5,
	h3.hdg,
	h3.bars {
		margin-bottom: .5em;
	}
	ol.breadcrumb li,
	.grid_3 p,
	ul.list-group li,
	li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 25px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
	.in-gp-tl {
		padding: 0 1em;
	}
	.in-gp-tb {
		padding-right: 1em;
	}
	.list-group {
		margin-bottom: 20px;
	}
}

@media (max-width:480px) {
	.grid_5 h3,
	.grid_5 h2,
	.grid_5 h1,
	.grid_5 h4,
	.grid_5 h5,
	h3.hdg,
	h3.bars {
		font-size: 1.2em;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,
	p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
	.grid_3.grid_4.w3layouts {
		margin-top: 0;
	}
}

@media (max-width: 320px) {
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert,
	p,
	ol.breadcrumb li,
	.grid_3 p,
	.well,
	ul.list-group li,
	li.list-group-item1,
	a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav>li>a {
		font-size: 14px;
	}
	table.table.table-striped,
	.table-bordered,
	.bs-docs-example {
		display: none;
	}
}
/*-- //typography --*/
/*-- gallery --*/
.gallery {
    padding: 5em 0;
}
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	max-width: 1000px;
	list-style: none;
	text-align: center;
	background: rgba(0, 0, 0, 0.86);
} 
/* Common style */
.grid {
	position: relative;	
	overflow: hidden;
	margin: 10px 0;
	height: auto;
	text-align: center;
	cursor: pointer;
} 
.grid img {
	position: relative;
	display: block;
	width: 100%;
	opacity: 0.8;
}

.grid .figcaption {
	padding: 2em;
	color:rgba(0, 0, 0, 0.5);
	text-transform: capitalize;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
} 
.grid .figcaption,
.grid .figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid  .figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
} 
.grid p {
	letter-spacing: 1px;
	font-size: 68.5%;
}
/*-----------------*/
/***** Apollo *****/
/*-----------------*/ 
.effect-apollo img {
	opacity: 0.95;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	-moz-transform: scale3d(1.05,1.05,1);
	-o-transform: scale3d(1.05,1.05,1);
	-ms-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
} 
.effect-apollo .figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0, 0, 0, 0.5);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}
.effect-apollo p {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    margin: 3em;
    padding: 0 1em;
    border-right: 4px solid #fff;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
} 
.effect-apollo:hover img { 
    -webkit-transform: scale3d(1,1,1);
	-moz-transform: scale3d(1,1,1);
	-o-transform: scale3d(1,1,1);
	-ms-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
	opacity: 0.4;
}
.effect-apollo:hover .figcaption::before {
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}
.effect-apollo:hover p {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
/*-- //gallery --*/
/*-- contact --*/
.w3layouts_mail_grid input[type="text"],
.w3layouts_mail_grid input[type="email"],
.w3layouts_mail_grid input[type="number"],
.w3layouts_mail_grid textarea {
	outline: none;
	padding: 14px;
	font-size: 14px;
	color: #212121;
	background: #f5f5f5;
	width: 100%;
	border: 1px solid #e4e2e2;
	margin-bottom: 1em;
	letter-spacing: 2px;
}

.w3layouts_mail_grid textarea {
	min-height: 170px;
	width: 100% !important;
}

.w3layouts_mail_grid input[type="submit"],
.w3layouts_mail_grid input[type="reset"] {
	outline: none;
	padding: 15px 0;
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	background: #ec1955;
	width: 100%;
	border: none;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.w3layouts_mail_grid input[type="submit"]:hover,
.w3layouts_mail_grid input[type="reset"]:hover {
	background: #ff4f81;
	color: #fff;
}

.agile_map iframe {
	width: 100%;
	min-height: 400px;
	border: none;
}

.contact-grid-agile-w3 i {
	color: #fff;
	font-size: 33px;
}

.contact-grid-agile-w3 {
	background: #171616;
	text-align: center;
	width: 32%;
	padding: 2em 1em;
}

.contact-grid-agile-w3:nth-child(2) {
	margin: 0 1%;
}

.contact-grid-agile-w3 h4 {
	color: #2fdab8;
	font-size: 1.3em;
	margin: 20px 0;
	letter-spacing: 1px;
	font-weight: 700;
	text-transform: uppercase;
}

.contact-grid-agile-w3 p {
	color: #fff;
	font-size: 14px;
	line-height: 2em;
}

.contact-grid-agile-w3 p a {
	color: #fff;
	text-decoration: none;
}

.contact-grid-agile-w3 p span {
	display: block;
}

.mail-agileits-w3layouts i {
	color: #fff;
	font-size: 18px;
	float: left;
	width: 50px;
	height: 50px;
	border: 2px solid #ddd;
	text-align: center;
	line-height: 49px;
}

.mail-agileits-w3layouts {
	margin-top: 2em;
}

.agileits_w3layouts_nav_right.contact {
	float: left;
	margin-top: 1.7em;
}

.contact-right a:hover {
	color: #2fdab8;
}

.contact-right span,
.contact-right a {
	font-size: 15px;
	text-decoration: none;
	color: #555;
	outline: none;
}

.contact-right {
	padding-left: 1em;
	float: left;
	width: 65%;
}

.contact-form input[type="text"],
.contact-form input[type="number"],
.contact-form input[type="email"],
.contact-form textarea {
	font-size: 15px;
	letter-spacing: 1px;
	color: #fff;
	padding: 0.5em 1em;
	border: 0;
	width: 100%;
	border-bottom: 1px solid #dcdcdc;
	background: none;
	-webkit-appearance: none;
	outline: none;
	border-radius: 00px 30px 30px 0px;
	-webkit-border-radius: 00px 30px 30px 0px;
	-moz-border-radius: 00px 30px 30px 0px;
	-moz-border-radius: 00px 30px 30px 0px;
	-ms-border-radius: 00px 30px 30px 0px;
}

.contact-form input[type="submit"] {
	border: none;
	padding: 0.8em 2.5em;
	font-size: 15px;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	background: #2fdab8;
	color: #fff;
	border-radius: 00px 30px 30px 0px;
	-webkit-border-radius: 00px 30px 30px 0px;
	-moz-border-radius: 00px 30px 30px 0px;
	-moz-border-radius: 00px 30px 30px 0px;
	-ms-border-radius: 00px 30px 30px 0px;
}

.contact-right p {
	font-weight: 600;
	color: #ff4f81;
	font-size: 0.9em;
	letter-spacing: 1px;
}

.contact-right span {
	color: #cecaca;
	font-size: 0.9em;
	line-height: 1.8em;
	letter-spacing: 1px;
}

.address-grid h4,
h4.white-w3ls {
	font-weight: 600;
	font-size: 1.2em;
	color: #fff;
	letter-spacing: 1px;
}

h4.white-w3ls {
	color: #fff;
	margin-bottom: 1em;
}

.agile_info_mail_img_info {
	background: #0e0e0e;
	padding: 2em 2em;
}

.agile_info_mail_img {
	background: url(../images/g11.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	min-height: 411px;
	margin-left: 1%;
	width: 65%;
}

.w3layouts_mail_grid {
	margin: 3em 0 0 0;
}

.wthree_contact_left_grid {
	padding-left: 0;
}

.map iframe {
	width: 100%;
	min-height: 400px;
	border: none;
	padding: 2em;
	background: #f5f5f5;
}
/*-- //contact --*/
.inner_content_info_agileits {
    padding: 5em 0;
}
/*-- services --*/
.agileits_services_grid h3 {
    font-size: 1.3em;
    font-weight: 600;
    color:#ff4f81;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.agileits_services_grid p{
	color:#999;
	line-height:2em;
	margin:1em 0 2em;
}
.w3layouts_more{
	margin:2em 0 0;
	text-align:center;
}
.w3layouts_more a{
	display:block;
	font-size:1em;
	color:#ff4f81;
	text-transform:uppercase;
	padding:10px 0;
	border:2px solid #ff4f81;
	font-weight:600;
	letter-spacing:2px;
	text-decoration:none;
}
.w3layouts_more a i{
	padding-left:1em;
	color:#ff4f81;
}
.w3layouts_more a:hover{
	background:#ff4f81;
	border:2px solid #ff4f81;
	color:#fff;
}
.w3layouts_more a:hover i{
	padding-left:1.5em;
	color:#212121;
}
.w3_agile_services_grid1{
	overflow:hidden;
	position: relative;
}
.w3_agile_services_grid1 img {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
	z-index:4;
}
.agileits_services_grid:hover img {
    opacity: 1;
    transform: scale(1.15,1.15);
    -webkit-transform: scale(1.15,1.15);
    -moz-transform: scale(1.15,1.15);
    -ms-transform: scale(1.15,1.15);
    -o-transform: scale(1.15,1.15);
}
.w3_agile_services_grid1 .w3_blur {
    background-color: rgba(0, 0, 0, 0.45);
    height: 100%;
    width: 100%;
    z-index: 5;
    position: absolute;
    opacity: 0;
    top: 0;
}
.agileits_services_grid:hover .w3_blur{
    opacity: 1;
}
/*-- //services --*/
.w3ls_banner_bottom_grids {
    margin-top: 4em;
}
/*-- offer --*/
.agileits_heading_section h3 {
    color: #fff;
}
.offer {
    background: url(../images/banner2.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    padding: 5em 0;
}
.wthree_head1{
	color:#fff;
}
.agileinfo_para1{
	color:#ff4f81;
}
.agile_offer_grid_pos{
	position:absolute;
	top:0%;
	left:5%;
}
.agile_offer_grid_pos p{
	font-size: 7em;
    color: rgba(255, 255, 255, 0.31);
    font-weight: bold;
}
.agile_offer_grid h4{
	font-size: 1.5em;
    color: #ff4f81;
	font-weight:600;
    text-transform: capitalize;
}
.agile_offer_grid p.w3_agileits_service_para{
	margin:2em 0 0;
	color:#fff;
	line-height:2em;
}
.agileits_w3layouts_offer_grid{
	position:relative;
}
/*-- //offer --*/
/*-- offer-bottom --*/
.w3l_services_footer_top_right_main:nth-child(2) {
    margin: 3em 0;
}
.w3l_services_footer_top_left img {
    margin: 0 auto;
}
.w3l_services_footer_top_right_main_l{
	float:left;
}
.w3l_services_footer_top_right_main_l h3{
	font-size: 1.2em;
    color: #ff4f81;
    padding-right: 2em;
    border-right: 1px solid #212121;
    margin: 1.8em 0 0;
	font-weight: 600;
}
.w3l_services_footer_top_right_main_l1{
	float:left;
	margin:0 3em;
}
.w3ls_service_icon{
	width: 70px;
    height: 70px;
    border: 2px solid #ff4f81;
    border-radius: 40px;
    text-align: center;
}
.w3ls_service_icon i{
	font-size: 2em;
    color: #ff4f81;
    padding-top: .5em;
}
.w3l_services_footer_top_right_main_r{
	float:right;
	width: 50%;
}
.w3l_services_footer_top_right_main_r a{
	font-size: 1em;
    color: #212121;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}
.w3l_services_footer_top_right_main_r a:hover{
    color: #ff4f81;
}
.w3l_services_footer_top_right_main_r p{
	margin:1em 0 0;
	color:#999;
	line-height:2em;
}
.agileits_portfolio_sub_grid {
    background: #ff4f81;
}
.w3_agile_portfolio_grid1{
	margin-top:2em;
	overflow: hidden;
}
.agileits_portfolio_sub_grid .w3layouts_port_head {
    content: '';
    z-index: 1;
    position: absolute;
    left: 49%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    filter: alpha(opacity=0);
    margin-top: 100px;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}
.w3_agile_portfolio_grid1:hover .agileits_w3layouts_team_grid img {
    opacity: 0.8;
}
.w3_agile_portfolio_grid1:hover .agileits_w3layouts_team_grid .w3layouts_port_head {
    opacity: 1;
    filter: alpha(opacity=100);
    margin-top: 0;
}
.w3layouts_port_head h3{
	font-size: 1em;
    letter-spacing: 5px;
    color: #fff;
    text-transform: uppercase;
    padding: 0.5em 1em;
    background: #ff4f81;
}
.banner-bottom {
    padding: 5em 0;
}
/*-- //offer-bottom --*/
.w3_agile_about_grid_left h3{
	font-size:1.4em;
	color:#212121;
	line-height:1.5em;
	text-transform: capitalize;
	margin:0;
}
.w3_agile_about_grid_left p i {
    color: #ef1d59;
    display: block;
    font-weight: 600;
    margin: 1em 0 1em;
}
.w3_agile_about_grid_left p{
	color:#999;
	line-height:2em;
}
.w3ls_news_grids {
    margin-top: 5em;
}
/*-- about --*/
/*-- Skills bar effects --*/
.skillbar {
  position: relative;
  display: inline-block;
  margin: 15px 0;
  width: 100%;
  background: #eee;
  height: 35px;
  border-radius: 3px;
  width: 100%;
}
.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background: #6adcfa;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
}
.skillbar-bar {
  height: 35px;
  width: 0px;
  background: #2ebaef;
  border-radius: 3px;
  display: inline-block;
}
.skill-bar-percent {
	position: absolute;
    right: 0%;
    top: 0;
    font-size: 13px;
    height: 35px;
    line-height: 35px;
    color: #212121;
}
/*-- //about --*/
/*-- team --*/
.team{
	padding:5em 0;
}
.w3_agile_team_grids{
	margin:5em 0 0;
}
.w3_agile_team_grid h3{
	font-size:1.2em;
	color:#212121;
	margin:1em 0 0;
}
.w3_agile_team_grid p{
	color:#ff4f81;
	text-transform:uppercase;
	font-weight:600;
	margin-bottom: 1em;
}
.w3_agile_team_grid:nth-child(2),.w3_agile_team_grid:nth-child(4){
	margin-top:5em;
}
.w3_agile_team_grid ul li{
	display:inline-block;
	margin-right:1em;
}
.w3_agile_team_grid ul li:last-child{
	margin:0;
}
.w3_agile_team_grid figure {
	overflow: hidden;
	position: relative;
}
.hover14 figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover14 figure:hover::before,.w3_agile_team_grid:hover .hover14 figure::before{
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
.agileits_social_list li a{
    color: #212121;
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
}
a.w3_agile_facebook:hover{
	color:#3b5998;
}
a.agile_twitter:hover{
	color:#1da1f2;
}
a.w3_agile_dribble:hover{
	color:#ea4c89;
}
a.w3_agile_vimeo:hover{
	color:#1ab7ea;
}
ul.agileits_social_list {
    padding: 0;
}
ul.agileits_social_list li {
    display: inline-block;
}
.about-w3slid h3 {
    font-size: 3em;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.about-w3slid p {
    width: 70%;
    margin: 2em auto 0;
    color: #fff;
    letter-spacing: 2px;
}
.about-w3slid {
    background: url(../images/banner3.jpg)no-repeat center 0px fixed;
    background-size: cover;
    text-align: center;
    padding: 7em 0;
}
/*-- //team --*/
.welcome {
    padding: 5em 0;
}
/*-- footer --*/

.footer_top_agileits {
	background: #141415;
	padding: 4em 0;
}

.footer_bottom1 a {
	display: inline-block;
}
.footer_w3ls {
    background: #0f0f10;
    text-align: center;
    padding: 1em 0;
}
ul.tag2:last-child {
	margin: 0;
}

.footer_bottom_grid:nth-child(2) {
	float: right;
	text-align: right;
}

.footer_bottom {
	padding: 2em 0;
}

.index-copy-right {
	background: transparent;
}

.footer_bottom h6 {
	color: #ffffff;
	font-size: 1.4em;
	letter-spacing: 1px;
	margin-bottom: 1em;
	text-transform: uppercase;
	font-weight: 700;
}

.footer_bottom1 p {
	color: #fff;
	font-size: 14px;
	letter-spacing: 2px;
	margin-top: 0em;
}

.footer_bottom1 p a {
	color: #ff4f81;
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}

.footer_bottom1 p a:hover {
	color: #fff;
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}

.social ul {
	padding: 0;
	margin: 0;
}

.social ul li {
	display: inline-block;
}

.social ul li a {
	color: #333;
	text-align: center;
}

.social ul li a i.fa.fa-facebook {
	height: 32px;
	width: 32px;
	line-height: 32px;
	background: #FFFFFF;
	color: #3b5998;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.social ul li a i.fa.fa-facebook:hover {
	height: 32px;
	width: 32px;
	line-height: 32px;
	background: #3b5998;
	color: #FFFFFF;
}

.social ul li a i.fa.fa-twitter {
	height: 32px;
	width: 32px;
	line-height: 32px;
	background: #FFFFFF;
	color: #1da1f2;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.social ul li a i.fa.fa-twitter:hover {
	height: 32px;
	width: 32px;
	line-height: 32px;
	background: #1da1f2;
	color: #FFFFFF;
}

.social ul li a i.fa.fa-rss {
	height: 32px;
	width: 32px;
	line-height: 32px;
	background: #FFFFFF;
	color: #f26522;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.social ul li a i.fa.fa-rss:hover {
	height: 32px;
	width: 32px;
	line-height: 32px;
	background: #f26522;
	color: #FFFFFF;
}

.footer_bottom1 label {
	color: #ff4f81;
	display: block;
	font-size: 0.3em;
	letter-spacing: 3px;
}

.footer_bottom1 h2 {
	font-size: 2.2em;
	text-transform: uppercase;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
	color: #fff;
	font-weight: 700;
}

.footer_grid h3, .footer_grid_left h3 {
    font-size: 1.5em;
    color: #ff4f81;
    position: relative;
    margin-bottom: 1.5em;
    font-weight: 600;
    letter-spacing: 1px;
}

.footer_grid_left h3 {
	margin: 0;
}

.footer_grid p {
	color: #8b8b96;
	line-height: 2em;
	margin-bottom: 2em;
}

.footer_grid_list li,
.address li {
	display: block;
	margin-bottom: 1em;
}

.footer_grid_list li i {
	color: #ff4f81;
	padding-right: 1em;
}

.footer_grid_list li a {
	color: #8b8b96;
	text-decoration: none;
	line-height: 1.5em;
	letter-spacing: 1px;
	font-size: 0.9em;
}

.footer_grid_list li a:hover {
	color: #fff;
}

.footer_grid_list li:last-child,
.address li:last-child {
	margin-bottom: 0;
}

.address li {
	color: #8b8b96;
}

.address li i {
	margin-right: 1.5em;
	color: #fff;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 30px;
	border: 1px solid #4b4b50;
}

.address li span {
	display: block;
	margin-left: 4em;
	letter-spacing: 1px;
	font-size: 0.9em;
}

.address li a {
	color: #a8aeb3;
	text-decoration: none;
}

.address li a:hover {
	color: #fff;
	text-decoration: none;
}

.footer_grids {
	margin: 3em 0 0 0;
}

.footer_grid_right input[type="email"] {
	outline: none;
	padding: 14px;
	background: #fff;
	font-size: 0.9em;
	color: #888;
	width: 70%;
	margin-right: 1em;
	border: none;
	letter-spacing: 2px;
}

.footer_grid_right input[type="email"]::-webkit-input-placeholder {
	color: #999!important;
}

.footer_grid_right input[type="submit"] {
	outline: none;
	padding: 12px 0;
	background: #ff4f81;
	font-size: 1em;
	color: #fff;
	width: 20%;
	border: none;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.footer_grid_right input[type="submit"]:hover {
	background: #ec1955;
}

ul.social-icons3.two li a {
	text-align: center;
}
/*-- //footer --*/
h4.modal-title {
    color: #ff4f81;
    font-size: 29px;
    text-transform: uppercase;
    font-weight: 600;
}
.agileits-w3layouts-info p {
    font-size: 14px;
    color: #777;
    line-height: 1.8em;
    padding: 20px 0;
}
/*--responsive--*/

@media(max-width:1366px) {
	.carousel-caption {
		min-height: 524px!important;
		padding-top: 10em;
	}
	.carousel-indicators {
		bottom: 3%;
		left: 50%;
	}
	.carousel-caption h2,
	.carousel-caption h3 {
		font-size: 3em;
		font-weight: 300;
		letter-spacing: 1px;
	}
	.inner_sec_grids_info_w3ls {
		margin-top: 3em;
	}
	.inner_content_info_agileits,
	.banner-bottom,
	.services {
		padding: 5em 0;
	}
	.testimonials_section {
		padding: 5em 0 7em 0;
	}
	.banner_bottom_left h4 {
		font-size: 1.9em;
		margin-bottom: 1em;
	}
}

@media(max-width:1280px) {
	.banner_bottom_left h4 {
		font-size: 1.8em;
		margin-bottom: 1em;
	}
	.services-left-top h5 {
		font-size: 0.9em;
		margin: 1em 0;
		line-height: 1.8em;
	}
	.according_inner_grids {
		padding: 4em 2em;
	}
	h3.agile_heading.two {
		margin: 0;
		font-size: 2.3em;
	}
}

@media(max-width:1080px) {
	.team_work_agile h4 {
		font-size: 2em;
		width: 85%;
		text-align: center;
		line-height: 1.8em;
		padding-top: 3.5em;
	}
	h3.tittle {
		margin: 0;
		font-size: 2.8em;
	}
	.login-form {
		margin: 3em auto 0;
		width: 85%;
	}
	.testimonials_grid_wthree h4 {
		font-size: 1em;
		line-height: 2.2em;
		margin: 1em auto;
		padding-left: 2.5em;
		width: 73%;
	}
	.footer_grid_left h3 {
		margin: 0;
		font-size: 1.3em;
		line-height: 1.6em;
	}
	#search_form form {
		margin: 2em auto 0;
		width: 90%;
	}
	.agile_info_mail_img_info {
		padding: 2em 1em;
	}
	.inner_page_agile {
		min-height: 229px;
		padding-top: 5em;
	}
	.header-1 {
    min-height: 300px;
}
.navbar-nav>li {
    margin: 0 7px;
}
.w3l_services_footer_top_right_main_l1 {
    margin: 0 1em;
}
}

@media(max-width:1050px) {
	#search_form form {
		margin: 2em auto 0;
		width: 90%;
	}
	.agile_info_mail_img_info {
		padding: 2em 1em;
	}
	.login-form-rec {
		margin: 0 auto;
		width: 65%;
	}
	ul.links_bottom li.last {
		margin-right: 0;
		padding: 5px 18px;
		margin-top: 1em;
	}
	.job_info_right {
		margin-top: 3em;
	}
}

@media(min-width:992px) {
	.mid_services {
		display: flex;
	}
}

@media(max-width:991px) {
	.navbar-nav>li {
		float: left;
		margin: 0 4px;
	}
	.inner_content_info_agileits,
	.banner-bottom,
	.services {
		padding: 4em 0;
	}
	.agile_info_mail_img {
		min-height: 411px;
		margin-left: 0;
		width: 100%;
	}
	.agile_info_mail_img_info {
		margin-bottom: 2em;
		padding: 3em 2em;
	}
	.footer_grid_left h3 {
		margin: 0 0 1em 0;
		font-size: 1.3em;
		line-height: 1.6em;
	}
	.footer_grid:nth-child(3) {
		margin-top: 2em;
	}
	.services-middle-left:nth-child(2) {
		padding: 0;
		margin: 0 0 1em 0;
	}
	.services-middle-left:nth-child(1) {
		padding: 0;
		margin: 0 0 1em 0;
	}
	.services-left-top1 {
		margin: 1em 0 0 0;
	}
	.services-middle {
		margin-top: 1em;
	}
	.team_work_agile h4 {
		font-size: 2em;
		width: 75%;
		line-height: 1.8em;
		padding-top: 3em;
	}
	.carousel-caption p {
		letter-spacing: 4px;
		font-size: 1em;
		width:100%;
	}
	.according_info {
		margin-top: 2em;
	}
	.mid_services_img {
		min-height: 500px;
	}
	.form-inputs,
	.form-right {
		position: relative;
		padding: 0;
	}
	.carousel-caption h2,
	.carousel-caption h3 {
		font-size: 2.5em;
		font-weight: 300;
		letter-spacing: 1px;
	}
	.carousel-caption {
		min-height: 466px!important;
		padding-top: 10em;
	}
	.carousel-indicators {
		bottom: 0%;
		left: 50%;
	}
	.carousel-control {
    line-height: 25em;
}
	#search_form h2 {
		font-size: 2.3em;
	}
	.inner_sec_grids_info_w3ls {
		margin-top: 2em;
	}
	.carousel-caption h2,
	.carousel-caption h3 {
		font-size: 2.6em;
		font-weight: 300;
		letter-spacing: 1px;
	}
	.wthree_contact_left_grid {
		padding: 0;
	}
	.blog-grid.one {
		margin-bottom: 0;
	}
	.blog-grid {
		padding: 0;
		width: 48%;
		margin: 1.8% 1%;
		float: left;
	}
	.navbar-nav>li {
    margin: 0 0px;
}
.navbar-default .navbar-nav>li>a {
    font-size: 0.85em;
    letter-spacing: 0px;
    padding: 14px 5px;
}
.agileits_w3layouts_nav_right.contact {
    float: none;
}
.gallery {
    padding: 4em 0;
}
.agileits_services_grid {
    float: left;
    width: 33.3%;
}
.offer {
    padding: 3em 0;
}
.agile_offer_grid:nth-child(2){
    margin: 2em 0;
}
.w3l_services_footer_top_left {
    margin-bottom: 2em;
}
.w3ls_banner_bottom_grids {
    margin-top: 0;
}
.welcome {
    padding: 4em 0;
}
.about-w3slid {
    padding: 4em 0;
}
.about-w3slid p {
    width: 100%;
}
.team {
    padding: 3em 0;
}
.about-w3slid h3 {
    font-size: 2.5em;
}
.w3_agile_team_grid {
    float: left;
    width: 50%;
}
.agile-about {
    padding: 4em 0 0;
}
.agileits-about-grid p {
    width: 100%;
}
.agileits-about-btm {
    padding: 4em 0;
}
h4.agileinfo-head {
    font-size: 1.5em;
}
.stats {
    padding: 4em 0;
}
.w3layouts_stats_left {
    float: left;
    width: 50%;
    margin-bottom: 1.5em;
}
.grid1 {
    margin-bottom: 1.5em;
}
.services-top-grids {
    margin-bottom: 0;
}
.feedback {
    padding: 4em 0;
}
.news {
    padding: 4em 0;
}
}

@media(max-width:900px) {
	h3.tittle {
		margin: 0;
		font-size: 2.6em;
	}
	.footer_bottom_grid:nth-child(2) {
		float: left;
		text-align: left;
		margin-top: 1em;
	}
}

@media(max-width:768px) {
 .navbar-brand {
    margin-left: 0px !important;
}
}

@media(max-width:767px) {
	.content.white {
		padding: 1em 1em;
	}
	.navbar>.container .navbar-brand,
	.navbar>.container-fluid .navbar-brand {
		margin-left: 0px;
	}
	td.one {
		padding: 21px 38px;
		font-size: 0.8em;
	}
	.banner {
		min-height: 371px;
	}
	.navbar-nav {
		float: none;
		margin: 0;
		text-align:center;
		margin-left: 0em;
		background: #eee;
		margin-top: 1em;
		padding: 1em 1em;
	}
	.navbar-nav>li {
		float: none;
		margin: 0 4px;
	}
	.contact-in {
		padding-left: 0;
		padding: 0;
	}
	.main-content {
		padding: 3em 1em;
	}
	.g-left {
		padding: 0 5px;
		margin-bottom: 0.7em;
		float: left;
		width: 33%;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border: none!important;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border: none!important;
	}
	.multi-column-dropdown li a {
		display: block;
		clear: both;
		line-height: 1.428571429;
		color: #fff;
		white-space: normal;
	}
	.item-details {
		float: right;
		width: 81%;
		padding: 0;
	}
	.navbar-nav>li {
		float: none;
		margin: 0 4px;
	}
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: #e0e1e2;
		border: 0;
	}
	.multi-column-dropdown li a {
		display: block;
		clear: both;
		color: #595a5a;
		white-space: normal;
		border-bottom: 1px solid #ddd;
	}
	.multi-column-dropdown li a:nth-child(last) {
		border: none;
	}
	#search_form form {
		margin: 2em auto 0;
		width: 100%;
	}
	.search_top input[type="submit"] {
		width: 20%;
	}
	.search_top input[type="text"],
	.search_top input[type="submit"] {
		width: 23%;
	}
	.carousel-caption h2,
	.carousel-caption h3 {
		font-size: 2.2em;
		letter-spacing: 1px;
	}
	#search_form {
		padding: 2em 2em;
		text-align: center;
	}
	.team_work_agile h4 {
		font-size: 1.6em;
		width: 75%;
		line-height: 1.8em;
		padding-top: 3em;
	}
	.team_work_agile {
		min-height: 290px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #0c0c0c;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #ff4f81;
	}
	.footer_bottom_grid:nth-child(2) {
		float: left;
		text-align: left;
		padding: 0;
		margin-top: 1.2em;
	}
	.footer_bottom_grid {
		padding: 0;
	}
	.banner_bottom_left h4 {
		font-size: 1.6em;
		margin-bottom: 0.6em;
	}
	.carousel-caption {
		min-height: 466px!important;
		padding-top: 9em;
	}
	.loc_1 img {
		width: 42%;
		margin-bottom: 1em;
	}
	.candidate_cv {
		min-height: 632px;
		padding: 4em 0 4em 0;
	}
	.testimonials_section {
		padding: 4em 0 6em 0;
	}
	.blog-grid p {
		padding: 0 0em;
	}
}
@media screen and (min-width: 737px){
    .w3-flex{
        display: flex;
    }
    .ab1 {
        flex:1;
    }
}
@media screen and (max-width: 736px){
    .agileits-about-grid p {
        width: 96%;
    }
    .ab1 {
        float: none;
    }
	.agileits_services_grid h3 {
    letter-spacing: 1px;
}
.agileits-about-grid2 {
    border: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    margin: 2em 0;
}
.carousel-caption p {
    letter-spacing: 3px;
    font-size: 1em;
    width: 84%;
}
}
@media(max-width:667px) {
	.carousel-caption h2,
	.carousel-caption h3 {
		font-size: 2em;
		letter-spacing: 1px;
	}
	.carousel-caption {
		min-height: 420px!important;
		padding-top: 7em;
	}
	.carousel-control {
		line-height: 23em;
	}
	.testimonials_grid_wthree h4 {
		font-size: 1em;
		line-height: 2.2em;
		margin: 1em auto;
		padding-left: 0.5em;
		width: 100%;
	}
	.testimonials_grid_wthree h5 {
		font-size: 1.2em;
	}
	.footer_top_agileits {
		padding: 3em 0;
	}
	.banner_bottom_left h4 {
		font-size: 1.4em;
		margin-bottom: 0.6em;
	}
	#search_form h2,
	h3.agile_heading.two {
		font-size: 2em;
	}
	.carousel-indicators {
		bottom: 1%;
		left: 50%;
	}
	.carousel-caption {
		min-height: 420px!important;
		padding-top: 8em;
	}
	.inner_page_agile {
		min-height: 169px;
		padding-top: 3em;
	}
	.inner_page_agile p {
		letter-spacing: 3px;
	}
	h3.tittle {
		margin: 0;
		font-size: 2.4em;
	}
	.single-left1 h3 {
		margin: 2em 0 1em;
		letter-spacing: 1px;
		font-size: 1.2em;
	}
	.login-form-rec {
		margin: 0 auto;
		width: 80%;
	}
	.form-inputs ul li,
	.form-inputs ul li {
		float: left;
		width: 40%;
	}
	.agileits_services_grid h3 {
    letter-spacing: 0px;
}
.w3l_services_footer_top_right_main_l h3 {
    padding-right: 1em;
}
}

@media(max-width:640px) {
	.inner_page_agile h3 {
		font-size: 2.2em;
	}
	.inner_page_agile {
		min-height: 163px;
		padding-top: 3em;
	}
	.blog-grid h4 a {
		font-size: 1.1em;
	}
	.events_info h5 {
		font-size: 0.9em;
	}
	.search_top input[type="text"],
	.search_top input[type="submit"] {
		width: 100%;
		margin-bottom: 8px;
	}
	.search_top select#country12 {
		width: 100%;
		margin-bottom: 10px;
	}
	.inner_content_info_agileits, .banner-bottom, .services {
    padding: 3em 0;
}
.header-1 {
    min-height: 270px;
}
.heading-agileinfo {
    font-size: 35px;
    margin-bottom: 1.8em;
}
.gallery {
    padding:3em 0;
}
.gallery-grid {
    width: 100%;
}
.agileits_services_grid {
    width: 100%;
}
.agileits_services_grid:nth-child(2){
    margin:2em 0;
}
.welcome {
    padding: 3em 0;
}
.about-w3slid {
    padding: 3em 0;
}
.team {
    padding: 3em 0;
}
.about-w3slid h3 {
    font-size: 2.2em;
}
.carousel-caption {
    padding-top: 7em;
}
.agile-about {
    padding: 3em 0 0;
}
.stats {
    padding: 3em 0;
}
.feedback {
    padding: 3em 0;
}
.news {
    padding: 3em 0;
}
.datew3-agileits {
    width: 100%;
    margin-bottom: 1.5em;
}
.datew3-agileits-info {
    padding-left: 1em;
    width: 100%;
}
.wthree-news-grids {
    margin-top: 2em;
}
}

@media(max-width:600px) {
	.carousel-caption h2,
	.carousel-caption h3 {
		font-size: 2.2em;
		letter-spacing: 1px;
		line-height: 1.4em;
	}
	.carousel-caption p {
		letter-spacing: 3px;
		font-size: 0.95em;
		margin: 0.3em auto 1em;
	}
	.carousel-caption {
		min-height: 392px!important;
		padding-top: 6em;
	}
	.team_work_agile h4 {
		font-size: 1.4em;
		width: 80%;
	}
	.team_work_agile {
		min-height: 250px;
	}
	.carousel-caption a {
		padding: 9px 18px;
		font-size: 0.9em;
	}
	.carousel-control {
		line-height: 19em;
	}
	.inner_content_info_agileits,
	.banner-bottom,
	.services {
		padding: 3em 0;
	}
	.w3l_services_footer_top_right_main_r {
    width: 47%;
}
}

@media(max-width:568px) {
	.team_work_agile h4 {
		font-size: 1.4em;
		width: 90%;
	}
	h3.tittle {
		margin: 0;
		font-size: 2.2em;
	}
	.footer_grid_right input[type="submit"] {
		width: 25%;
	}
	.footer_bottom h6 {
		font-size: 1.1em;
	}
	.mid_services_img {
		min-height: 299px;
	}
	.inner_breadcrumb {
		width: 90%;
		margin: 0 auto;
	}
	.map iframe {
		width: 100%;
		min-height: 300px;
		border: none;
		padding: 1em;
	}
	.w3l_services_footer_top_right_main_r {
    width: 43%;
}
}

@media(max-width:480px) {
	.team_work_agile h4 {
		font-size: 1.4em;
		width: 90%;
	}
	.footer_grid_right input[type="email"] {
		width: 65%;
	}
	.footer_grid_right input[type="submit"] {
		width: 29%;
	}
	.blog-grid {
		padding: 0;
		width: 100%;
		margin: 1.8% 0%;
		float: left;
	}
	.single-left1 ul {
		text-align: left;
	}
	.single-left1 ul li {
		margin-right: 10px;
		margin-bottom: 10px;
	}
	.single-left1 h3 {
		margin: 1em 0 1em;
		letter-spacing: 1px;
		font-size: 1em;
	}
	.permit h3,
	.experience h3,
	h5.widget-title {
		font-size: 1.2em;
	}
	.inner_page_agile h3 {
		font-size: 1.8em;
	}
	.inner_page_agile {
		min-height: 141px;
		padding-top: 2.5em;
	}
	h3.tittle {
		margin: 0;
		font-size: 1.8em;
	}
	.inner_sec_grids_info_w3ls {
		margin-top: 1.7em;
	}
	.location_box1 h6 {
		font-size: 1.1em;
	}
	h3.tittle.three {
		font-size: 1.6em;
	}
	.login-form-rec {
		margin: 0 auto;
		width: 100%;
	}
	.w3l_header_left ul li {
    margin-right: 0.5em;
    font-size: 13px;
}
.header-1 {
    min-height: 250px;
}
.w3l_services_footer_top_right_main_r {
    float: right;
    width: 100%;
    margin-top: 1em;
}
.about-w3slid h3 {
    font-size: 1.8em;
}
.w3ls_news_grids {
    margin-top: 0em;
}
.w3_agile_about_grid_left h3 {
    font-size: 1.2em;
}
.carousel-caption h2, .carousel-caption h3 {
    font-size: 2em;
}
.carousel-caption p {
    font-size: 0.9em;
}
.carousel-caption {
    min-height: 370px!important;
    padding-top: 5em;
}
.heading-agileinfo span {
    letter-spacing: 2px;;
}
.agile_info_mail_img {
    min-height: 320px;
}
}

@media(max-width:440px) {
	.team_work_agile h4 {
		font-size: 1.2em;
		width: 90%;
		padding-top: 2.6em;
	}
	.team_work_agile {
		min-height: 205px;
	}
	.services-left-top {
		padding: 2em 1em;
	}
	#search_form h2,
	h3.agile_heading.two {
		font-size: 1.6em;
	}
	.according_inner_grids {
		padding: 2em 1em;
	}
	h3.tittle {
		margin: 0;
		font-size: 2em;
	}
	.candidate_cv {
		min-height: 632px;
		padding: 3em 0 3em 0;
	}
	.login-form textarea {
		height: 81px;
	}
	.login-form input[type="submit"] {
		padding: 10px 0;
	}
	.testimonials_section {
		padding: 3em 0 6em 0;
	}
	.login-form {
		margin: 1em auto 0;
		width: 99%;
	}
	.form-left,
	.form-right {
		padding: 1em;
	}
	.carousel-caption h2,
	.carousel-caption h3 {
		font-size: 1.7em;
	}
	.banner_bottom_left p {
		font-size: 0.9em;
	}
	.banner_bottom_left h4 {
		font-size: 1.2em;
		margin-bottom: 0.6em;
	}
	ul.some_agile_facts label {
		font-size: 1.2em;
	}
	ul.some_agile_facts li {
		font-size: 1em;
	}
	.w3l_header_left {
    float: none;
    margin: 0;
    width: 100%;
}
.w3l_header_left ul li {
    margin-right: 3em;
    font-size: 14px;
}
.w3l_header_right {
    float: none;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.text-left {
    text-align: center;
}
.navbar-default a.navbar-brand h1 {
    font-size: 30px;
}
.navbar-toggle {
    margin-top: 0;
    margin-bottom: 0;
}
.heading-agileinfo span {
    font-size: 15px!important;
    letter-spacing: 2px;
}
}

@media(max-width:414px) {
	h3.tittle {
		margin: 0;
		font-size: 1.7em;
	}
	.footer_grid_right input[type="email"] {
		width: 100%;
		margin-bottom: 10px;
	}
	.footer_grid_right input[type="submit"] {
		width: 50%;
	}
	.form-inputs ul li,
	.form-inputs ul li {
		float: none;
		width: 100%;
	}
	.w3_agile_team_grid {
    float: left;
    width: 100%;
}
.w3_agile_team_grid:nth-child(2), .w3_agile_team_grid:nth-child(4) {
    margin-top: 2em;
}
.w3layouts_stats_left {
    width: 100%;
}
}

@media(max-width:384px) {
	input[type="file"] {
		padding: 8px 5px;
		opacity: 0;
		cursor: pointer;
		position: absolute;
		left: 34.2%;
		width: 190px;
	}
	.carousel-caption h2,
	.carousel-caption h3 {
		font-size: 1.6em;
	}
	.carousel-caption {
		min-height: 300px!important;
		padding-top: 4em;
	}
	.loc_1 img {
		width: 100%;
		margin-bottom: 1em;
	}
	.w3l_header_left ul li {
    margin-right: 2em;
    font-size: 14px;
}
.carousel-caption p {
    letter-spacing: 0px;
}
.carousel-control {
    line-height: 14em;
}
.carousel-indicators {
    bottom: -7%;
    left: 50%;
}
.heading-agileinfo span {
    letter-spacing: 0px;
}
}

@media(max-width:375px) {
	#search_form {
		padding: 2em 1em;
		text-align: center;
	}
	.banner_bottom_left h4 {
		font-size: 1em;
		margin-bottom: 0.6em;
	}
	ul.some_agile_facts span.fa {
		text-align: center;
		line-height: 53px;
		margin-right: 20px;
		display: block;
		margin-bottom: 1em;
	}
	.team_work_agile h4 {
		font-size: 1.1em;
		width: 90%;
		padding-top: 2.6em;
	}
	h3.tittle {
		margin: 0;
		font-size: 1.6em;
	}
	.panel-title {
		font-size: 0.9em;
	}
	#search_form h2,
	h3.agile_heading.two {
		font-size: 1.5em;
	}
	.carousel-caption a {
		padding: 9px 18px;
		font-size: 0.8em;
	}
	.w3l_header_left ul li {
    margin-right: 1em;
}
}

@media(max-width:320px) {
	.carousel-caption h2,
	.carousel-caption h3 {
		font-size: 1.3em;
	}
	.carousel-caption {
		min-height: 290px!important;
		padding-top: 3em;
	}
	.header-1 {
    min-height: 230px;
}
.heading-agileinfo {
    font-size: 30px;
    margin-bottom: 1.8em;
}
.inner_content_info_agileits, .banner-bottom, .services {
    padding: 2em 0;
}
.agile_info_mail_img_info {
    margin-bottom: 2em;
    padding: 2em 1em;
}
.footer_top_agileits {
    padding: 2em 0;
}
.footer_grid h3, .footer_grid_left h3 {
    margin-bottom: 1em;
}
.w3l_header_left ul li {
    margin-right: 0.5em;   
	font-size: 13px;
}
.navbar-default a.navbar-brand h1 {
    font-size: 23px;
}
.content.white {
    padding: 1em 0.5em 0;
}
.heading-agileinfo span {
    font-size: 14px!important;
    letter-spacing: 0px;
}
.contact-right span {
    letter-spacing: 0px;
}
.gallery {
    padding: 2em 0;
}
.w3ls_service_icon i {
    padding-top: .25em;
}
.w3ls_service_icon {
    width: 50px;
    height: 50px;
}
.w3l_services_footer_top_right_main_l1 {
    margin: 0 0.5em;
}
.w3l_services_footer_top_right_main_l h3 {
    margin: 0.8em 0 0;
}
.footer_bottom1 p {
    letter-spacing: 1px;
}
.welcome {
    padding: 2em 0;
}
.about-w3slid {
    padding: 2em 0;
}
.team {
    padding: 2em 0;
}
.about-w3slid h3 {
    font-size: 1.5em;
}
.footer_grid,.footer_grid_left{
    padding: 0;
}
.agile-about {
    padding: 2em 0 0;
}
.agileits-about-btm {
    padding: 2em 0;
}
.stats {
    padding: 2em 0;
}
.grid1 {
    padding: 25px 16px;
}
.grid1 h4 {
    font-size: 17px;
}
.feedback {
    padding: 2em 0;
}
.news-agileinfo {
    margin-top: 2em;
}
.datew3-agileits-info h5 a {
    letter-spacing: 0px;
}
}


/*--//responsive--*/