{% extends 'admintemplates/adminbase.html' %}
[% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">

{% endblock %}
{% block content %}
<p>this is home</p>
<div class="row">
	<div class='col-md-3 bg-success p-3'>
				<h3 class='text-center text-white'>{{allemployers.count}}</h3>
				<h4 class='text-center'>Employers</h4>

				

				
	</div>
	<div class="col-md-3 bg-warning p-3">
				<h3 class='text-center text-white'>{{alljobs.count}}</h3>
				<h4 class='text-center'>Jobs</h4>
				
				
			
		
	</div>
	<div class="col-md-3 bg-info p-3">
		
				<h3 class='text-center text-white'>{{alljobseekers.count}}</h3>
				<h4 class='text-center'>Jobseekers</h4>
				
		
		
	</div>
	<div class="col-md-3 bg-danger p-3">
 
				<h3 class='text-center text-white'>{{allapplications.count}}</h3>
				<h4 class='text-center'>Applications</h4>
				
			
	</div>
	

</div>
<!-----------------------------------------listview of employer and jobseekers------------>
<table class="table">
	<thead>
		<tr>
			<th>S.N</th>
			<!-- <th>Employer</th> -->
			<th>Jobseeker</th>
		</tr>		
	</thead>
	<tbody>
		{% for list in alljobseekers.jobapplication_set.all %}
 		<tr>
 			<td>{{ forloop.counter }}</td>
 			<td>{{ list.jobseeker.address }}</td>
 			

 		</tr>
 		{% endfor %}
 		

	</tbody>
	

</table>



<!-- chart.js -->
<div class="row">
	<div class="col-md-6">
		<canvas id="myChart" width="400" height="400"></canvas>

	</div>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js">	
</script>
<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['employers', 'jobs','jobseekers', 'jobapplications'],
        datasets: [{
            label: 'job statistics',
            data: [{{allemployers.count}},{{alljobs.count}},{{alljobseekers.count}}, {{allapplications.count}}],
            backgroundColor: [
            	'#33FF5B',
            	'#5B33FF',
            	'#5B33FF',
            	'#33FF5B',

                // 'rgba(255, 99, 132, 0.2)',
                // 'rgba(54, 162, 235, 0.2)',
                // 'rgba(255, 206, 86, 0.2)',
                // 'rgba(75, 192, 192, 0.2)',
               
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
{% endblock %}