{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link href="{% static 'jobseekerstatic/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
	<!-- bootstrap css -->
    <link href="{% static 'jobseekerstatic/css/style.css' %}" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="{% static 'jobseekerstatic/css/font-awesome.css' %}" rel="stylesheet">
    {% block css %}
    {% endblock %}

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <a class="navbar-brand" href="{% url 'jobapp:adminhome' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'jobapp:adminprofile' %}">myprofile<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="#"></a>
      <h7>logged in as {{request.user}}</h7>
      <a class="nav-item nav-link active navbar-right" href="{% url 'jobapp:logout' %}">logout</a>

    </div>
  </div>
</nav>    

{% block content %}
{% endblock %}
   

{% block js %}
{% endblock %}
</body>
</html>

