{% extends 'admintemplates/adminbase.html' %}
[% load static %}
{% block content %}
<h2>My profile</h2>
<li>{{ admin.user }}</li>
<li>{{ admin.mobile }}</li>
<li>{{ admin.email }}</li>
<li>{{ admin.address }}</li>
<li>{{ admin.name }}</li>
<table class="table">
	<thead>
		<tr>
			<th>S.N</th>
			<!-- <th>Employer</th> -->
			<th>Jobseeker</th>
		</tr>		
	</thead>
	<tbody>
		{% for list in alljobseekers.jobapplication_set.all %}
 		<tr>
 			<td>{{ forloop.counter }}</td>
 			<td>{{ list.jobseeker.address }}</td>
 			

 		</tr>
 		{% endfor %}
 		

	</tbody>
	

</table>


{% endblock %}