{% extends "jobseekertemplates/jobseekerbase.html" %}
{% load static %}
{% block content %}
<br>
<style type="text/css">
	.login{
			text-align: center;

	}
	

</style>

{% if error %}
	<li class="text-danger">{{error}}</li>
{% endif %}	
 <form method = "POST">
 	{% csrf_token %}
	 <div class="login">
	    <h1>Login</h1>	
	 	{{ form.as_p }}
	 	<button>Login</button>
	 </div>	

 </form>
 <h4>Don't have account?</h4>
 <p class="text-info"><a href="{% url 'jobapp:jobseekerregistration' %}">Register as Jobseeker</a></p>
 <br>

 <p class="text-info"><a href="{% url 'jobapp:employerregistration' %}">Register as employer</a></p>


{% endblock %}