{% extends 'jobseekertemplates/jobseekerbase.html' %}
{% load static %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
	<button>register</button>	


</form>
{% endblock %}