{% extends 'jobseekertemplates/jobseekerbase.html' %}
[% load static %}
{% block content %}
<div class="row">
    {% for jobseeker in jobseekerlists %}	
	  <div class="col-sm-4">
	    <div class="card">
	      <div class="card-body">
	        <h5 class="card-title">{{jobseeker.title}}</h5>
	        <p class="card-text">{{jobseeker.details}}</p>
	        <a href="{% url 'jobapp:jobseekerdetail' jobseeker.id %}" class="btn btn-primary">view detail</a>
	      </div>
	    </div>
	  </div>
    {% endfor %}
  
</div>


{% endblock %}