{% extends 'jobseekertemplates/jobseekerbase.html' %}
{% load static %}
{% block content %}
	<h3>Job_title : {{jobseekerdetails.title}}</h3>
	<h4>Job_category : {{jobseekerdetails.category}}</h4>
	<p><img src="{{jobseekerdetails.image.url}}" width="200px;"></p>
	<li>salary : {{jobseekerdetails.salary}}</li>
	<li>skills : {{jobseekerdetails.skills}}</li>
	<li>education : {{jobseekerdetails.education}}</li>
	<a href="{% url 'jobapp:jobapply' jobseekerdetails.id %}">Apply </a>
	<h2 class="text-success">This job has been viewed for {{jobseekerdetails.views_count}} times</h2>


{% endblock %}