{% extends "jobseekertemplates/jobseekerbase.html" %}
{% load static %}
{% block content %}

 <h1>my profile</h1>
 <hr>
 <h4>Name:{{jobseeker.name}}</h4>
 <hr>
 <h3>Job i have applied</h3>
 <table class="table">
 	<thead>
 		<tr>
 			<th>S.N</th>
 			<th>Job_title</th>
 			<th>Company</th>
 			<th>Date</th>
 		</tr>
 		
 	</thead>
 	<tbody>
 		{% for jobappl in jobseeker.jobapplication_set.all %}
 		<tr>
 			<td>{{forloop.counter}}</td>
 			<td>{{jobappl.job.title}}</td>
 			<td>{{jobappl.job.employer.company}}</td>
 			<td>{{jobappl.created_at}}</td>

 		</tr>
 		{% endfor %}
 		

 	</tbody>
 	

 </table>
{% endblock %}