{% extends 'jobseekertemplates/jobseekerbase.html' %}
{% load static %}
{% block content %}
<h3>Job Application Form</h3>
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
	<button class="btn btn-info">Apply</button>
	

</form>
{% endblock %}